<html>
<head>
<link rel="stylesheet" href="/stylesheets/design.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

   <header class="site-header clearfix">
      <nav>
       <div class="logo">
        <h1>Learning Website</h1>
       </div>
      </nav>
      <section>
       <div class="leftside"> 
        <img src="images/intro.png">
       </div>
       <div class="rightside"> 
        <h1>Our Learner's website</h1>
        <p>  Hye <%= record1.name %> so this is the page after login that will be displayed , a confirmation email will be sent to you on email <%= record1.email %> </p>
        <button>Start Learning</button>
       </div>
       
      </section>
     
     </header>

</body>
   </html>